language: julia
os:
  - linux
dist: trusty
julia:
  - 0.6
  - 0.7
  - nightly
matrix:
  allow_failures:
    - julia: nightly

notifications:
  email: false
addons:
  apt:
    packages:
    - xorg-dev
before_script:
  - if [ "${TRAVIS_OS_NAME}" = "linux" ]; then export DISPLAY=:99.0; sh -e /etc/init.d/xvfb start; fi
